<div class="position-fixed w-100" style="bottom: 0; height: 290px; z-index: 1000; background: no-repeat center url(<%= asset_pack_path 'media/images/party/bottom-bg.png'%>) ">
  <div class="row h-100 g-0 position-relative">



  </div>
</div>
