<div class="position-fixed w-100" style="bottom: 0; height: 158px; z-index: 1000; background: no-repeat center url(<%= bottom_bg_path %>) ">
  <div class="row h-100 g-0 position-relative">

    <!-- go back -->
    <% if @return_path %>
      <div class="position-absolute"  style="top: 70px; left:20px; z-index: 1020;">
        <%= link_to( @return_path, html_options = {}) do %>
          <%= image_pack_tag 'media/images/party/go-back.png', class: '', style: ""%>
        <% end %>
      </div>
    <% end %>

  </div>
</div>
