<h1>Parties</h1>
<div class="main">
  <div class="row g-0">
    <!-- left -->
      <!-- navs -->
    <div class="" style="width: 20%;">
      <%# render 'party_links' %>
    </div>
    <div class="" style="width: 80%;">

    </div>

  </div>

</div>
