<main class="window-holder position-relative" style="background: url(<%= asset_pack_path 'media/images/corp/strategy/bg.png'%>) "  >


  <div class="w-100" style="height: 300px;"></div>

  <div class="row g-0 mx-auto" style="width:90%;">
    <div class="col-12">
      <%= image_pack_tag 'media/images/party/nnl/honor/title.png', class: "" %>
    </div>
    <div class="col-12 " style="overflow: scroll; margin-top: 80px;">
      <%= image_pack_tag 'media/images/party/nnl/honor/imgs.png', class: "" %>
    </div>
  </div>








  <%# render 'profile_bottom', return_path: corp_all_path %>

</main>
