<div class="position-absolute" style="top: -290px; left:50px; width: 1100px; z-index:1020;">

  <div class="row g-0 w-100 justify-content-center align-items-center">
    <% @business_navs[0..1].each do |nav| %>
      <div class="col-4 text-center my-2">
        <%= link_to(nav[:path], html_options = {}) do %>
          <% nav_class = "" %>
          <% (nav_class += ' active') if nav[:active] %>
          <%= image_pack_tag nav[:img_path], class: nav_class, style: "width: 85%"%>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="row g-0 w-100 align-items-center">
    <% @business_navs[2..4].each do |nav| %>
      <div class="col-4 text-center my-2">
        <%= link_to(nav[:path], html_options = {}) do %>
          <% nav_class = "" %>
          <% (nav_class += ' active') if nav[:active] %>
          <%= image_pack_tag nav[:img_path], class: nav_class, style: "width: 85%"%>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
