<div class="businesses-index window-holder position-relative" style="background: url(<%= asset_pack_path 'media/images/businesses/bg.png'%>) ">
  <div class="w-100" style="height:187.5px;"></div>




  <div class="row g-0 position-relative" style="background-color: rgba(255,255,255,0.9) ">
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div class=" d-flex justify-content-end" style="width:40%;">
      <div id="main" style="width: 600px;height:450px;margin-top:35px;"></div>
    </div>

    <div class="" style="width:60%;">
      <div class="position-relative" style="width: 1125px; height: 750px; overflow:hidden;">
        <div id="map" class="position-absolute" style="width: 1425px; height: 1050px; top: -165px; left: -195px;"></div>
      </div>
    </div>




  </div>


</div>
