<main class="window-holder position-relative" style="background: url(<%= asset_pack_path 'media/images/party/bg.png'%>) "  >

  <div class="w-100" style="height:217px;"></div>
  <div class="row g-0 mx-auto" style="width: 90%;  ">

    <div class="col-12"  style="margin-left: 4%; ">
      <%= image_pack_tag 'media/images/party/xcl/excellence/honors/title.png', class: "" %>

    </div>

    <div class="col-12 mt-5 position-relative" >
      <div class="scroll-left-dark-arrows scroll-left-half"></div>
      <div class="scroll-right-dark-arrows scroll-right-half"></div>

      <div class="scroll-wrap slow-speed" style="overflow:scroll;">
        <%= image_pack_tag 'media/images/party/xcl/excellence/honors/honors.png', class: "scroll-content" %>
      </div>

    </div>



  </div>





</main>
