<main class="window-holder position-relative" style="background: url(<%= asset_pack_path 'media/images/corp/strategy/bg.png'%>) "  >

  <div class="w-100" style="height:290px;"></div>
  <div class="row g-0" style="width: 90%; margin-left: 8%; ">

    <div class="col-12">
      <%= image_pack_tag 'media/images/party/xcl/excellence/honors/title.png', class: "" %>

    </div>

    <div class="mt-5" style="overflow:scroll;">
      <%= image_pack_tag 'media/images/party/xcl/excellence/honors/honors.png', class: "" %>



    </div>

  </div>





</main>
