<div class="bottom-nav position-absolute bg-secondary w-100" style="height: 150px; bottom: 150px;">
  <div class="col">
    <%= link_to "corp_all", corp_all_path %>
    <%= link_to "profile", profile_path %>
    <%= link_to "culture", culture_path %>
  </div>
</div>
