<div class="">

  <% corp_navs = [
  {path: profile_path, img_path: 'media/images/corp/right-links/corp.png'},
  {path: "#", img_path: 'media/images/corp/right-links/strategy.png'},
  {path: culture_path, img_path: 'media/images/corp/right-links/culture.png'},
  {path: "#", img_path: 'media/images/corp/right-links/guangxi-businesses.png'},
  ] %>

  <div class="row g-0">
    <% corp_navs.each do |corp_nav| %>
      <div class="text-end">
        <%= link_to(corp_nav[:path], html_options = {}) do %>
          <%= image_pack_tag corp_nav[:img_path] %>
        <% end %>
      </div>
    <% end %>


    </div>
  </div>

</div>
