<div class="position-fixed w-100" style="bottom: 0; height: 450px; background: no-repeat center url(<%= asset_pack_path 'media/images/corp/profile/bottom-bg.png'%>) ">
  <div class="position-relative">
    <div class="bg-info" style="height: 160px; width: 45%;">
      <%= render 'corp_bottom_links' %>

    </div>

    <div class=" w-100" style="height: 160px; ">

    </div>
  </div>
</div>
