<div class="position-fixed w-100" style="bottom: 0; height: 219px; z-index: 1000; background: no-repeat center url(<%= asset_pack_path 'media/images/corp/profile/bottom-bg.png'%>) ">
  <div class="row h-100 g-0 position-relative">
    <div class="col-auto " style="height: 120px; width: 1140px;">
      <%= render 'corp_bottom_links' %>
      <div class="col mt-4 ms-5" style="">
        <% if @return_path %>
          <%= link_to( @return_path ) do %>
            <%= image_pack_tag 'media/images/corp/go-back.png' %>
          <% end %>
        <% end %>
      </div>


    </div>

    <div class="col text-white text-end " style="margin-top: 90px; margin-right: 3%; ">
      <div class="row g-0">
        <div class="col text-end me-3 mt-3" style="">
          CORPORATE
          <br>
          INTRODUCTION
        </div>

        <div class="col-auto text-end" style="font-size: 3.5rem">
          企业概况
        </div>
      </div>

    </div>

  </div>
</div>
