<main class=" bg-primary position-relative">
  <!-- Slider main container -->
  <div class="swiper-container mySwiper window-holder">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <div class="swiper-slide" style="background-image:url(<%= asset_pack_path 'media/images/corp/swiper1-bg.png'%>)" >
        <!-- <h1>Corp all</h1> -->


      </div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

  </div>

  <!-- <video
      id="auto-video"
      class="video-js"
      preload="auto"
      data-setup="{}">
    <source src="/videos/mad.mp4" type="video/mp4"></source>
  </video> -->
  <%= render 'corp_links' %>

  <div class="bottom position-absolute bottom-0 bg-secondary w-100" style="height: 150px;" >
    <%# image_pack_tag 'media/images/corp-bottom.png' %>
  </div>

</main>



</div>
