
<h1>Footprint</h1>

<button class="btn btn-primary" type="button" name="button">321</button>

<div class="row">
  <div class="col-6">
    <div class="slider">
      <div><h3>1</h3></div>
      <div><h3>2</h3></div>
      <div><h3>3</h3></div>
      <div><h3>4</h3></div>
      <div><h3>5</h3></div>
      <div><h3>6</h3></div>
    </div>

  </div>
</div>
