<div class="position-relative window-holder" style="background-image: url(<%= asset_pack_path 'media/images/home-bg.png'%>) " >

  <!-- navs -->
  <!-- <div class="row position-absolute top-50 start-50 translate-middle" style= "width:90%"> -->
  <div class="row g-0 position-absolute start-50 translate-middle" style= "width:75%; top: 70%;">

    <% navs = [
    {path: corp_all_path, img_path: 'media/images/nav-corp.png'},
    {path: "#", img_path: 'media/images/nav-businesses.png'},
    {path: "#", img_path: 'media/images/nav-advantages.png'},
    {path: parties_path, img_path: 'media/images/nav-party.png'},
    ] %>

    <% navs.each do |nav| %>
      <div class="col-3 text-center">
        <!-- <div class="m-auto shadow" style="width:700px"> -->
        <div class="col-12 m-auto " >
          <%= link_to(nav[:path], html_options = {}) do %>
            <%= image_pack_tag nav[:img_path], class: "w-100" %>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>

  <div class="bottom position-absolute bottom-0 w-100">
    <%= image_pack_tag 'media/images/corp-bottom.png', class: "w-100" %>
  </div>

</div>
