<div class="position-relative window-holder" style="background-image: url(<%= asset_pack_path 'media/images/home-bg.png'%>) " >

  <!-- navs -->
  <div class="row position-absolute top-50 start-50 translate-middle" style= "width:90%">
    <% nav_paths = [corp_all_path, "#", "#", "#"] %>
    <% img_paths = ['media/images/nav-corp.png', 'media/images/nav-businesses.png', 'media/images/nav-advantages.png', 'media/images/nav-party.png'] %>

    <% img_paths.each_with_index do |img_path, i| %>
      <div class="col text-center">
        <div class="m-auto shadow" style="width:700px">
          <%= link_to(nav_paths[i], html_options = {}) do %>
            <%= image_pack_tag img_path %>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>

  <div class="bottom position-absolute bottom-0 w-100">
    <%= image_pack_tag 'media/images/corp-bottom.png', class: "w-100" %>
  </div>

</div>
