<main class="window-holder position-relative" style="background-color: #F2F2F2;" >
  <div class="w-100" style="height: 250px;" >
  </div>

  <div class="row g-0 m-auto position-relative" style="width:95%;">

    <div class="shadow-dark-xxl mx-auto mt-5 " style="width: 95%;">
      <div class="row mx-auto mt-5" style="width: 95%; height: 750px;">
        <!-- left -->
        <div class="col-4">
          <%= image_pack_tag 'media/images/corp/profile/profile_gt/gt-profile-title.png', class: "", style: "width:90%;" %>
          <div class="col mt-3 p-3 border border-3 text-indent-4rem" style="height: 550px; overflow:scroll;" >
            <p style="">
              广西投资集团有限公司（以下简称“广投集团”）成立于1988年，注册资本100亿元人民币，作为自治区本级国有资本投资公司，在充分参与市场竞争的同时，承担着自治区战略性重大投资任务，推动传统产业转型升级，培育发展新兴产业，引领全区产业高质量发展，是广西首家世界500强本土企业和广西首家营业收入超千亿元企业，位居中国企业500强第124位，广西百强企业第1位。连续十七届中国—东盟博览会战略合作伙伴，连续六年获AAA 主体信用评级，获穆迪、惠誉两大国际评级机构自治区内企业最高主体评级，获评第五届自治区主席质量奖。
            </p>
            <p>
              广投集团业务涵盖能源、先进制造业、医药健康、数字经济、金融、投资等领域，拥有参控股企业300多家，上市平台4家，在职员工超过3.5万人。2020年实现资产总额5977亿元、营业收入1912亿元、利润40.2亿元、上缴税费50.8亿元。
            </p>
            <p>广投集团按照自治区“强龙头、补链条、聚集群”的思路，大力实施“产融投”协同发展战略。以产业为基础，全面做强做优做大产业，打造行业龙头，形成了多元化的产业发展格局。以金融为保障，提供涵盖证券、银行、保险等20个业态的综合金融服务，积极围绕供应链金融、普惠金融等方向延伸金融服务，搭建金融全周期的产品服务链条，是上市公司国海证券实际控制人。以投资为引领，发挥国有资本投资公司试点优势，做强做大产业基金，进一步强化投资对优化结构的关键性作用，设立及代理运营基金77支，基金规模834亿元；设立总规模500亿元的广西东盟“一带一路”系列基金，助推西部陆海新通道建设。
            </p>
            <p>广投集团大力引资入桂，积极培育新动能，加强与国投集团、国家能源、国家电投、大唐集团、中广核、中铝集团、五矿集团等央企及优秀民企合作，先后建成华银铝、龙滩水电站、防城港核电（一期）等重大项目，加快推进大藤峡枢纽、防城港华昇生态铝、防城港核电（二期）等在建项目，重点建设中国—东盟数字经济产业园、广西广投北海临港循环经济产业园，不断增强对广西经济社会发展的支撑力。
            </p>
            <p>广投集团积极贯彻习近平新时代中国特色社会主义思想，勇当国企改革发展的“三个排头兵”，进一步聚焦主业、深化改革、强化创新、加强管理，主动融入国际国内双循环，努力打造成为国际一流投资集团，助力广西加快构建现代产业体系，为“建设壮美广西 共圆复兴梦想”作出新的更大贡献。</p>
          </div>
        </div>

        <!-- right -->
        <div class="col-8">
          <video
              id="gt-profile-video"
              class="video-js my-vjs-skin"
              width="1450"
              height="670"
              enableTouchActivity
              poster=<%= asset_pack_path 'media/images/corp/profile/profile_gt/gt-video-mask.png' %>
              data-setup=''>
            <source src="/videos/profile_gt.mp4" type="video/mp4"></source>
            <p class="vjs-no-js">
              To view this video please enable JavaScript, and consider upgrading to a
              web browser that
            </p>
          </video>

        </div>


      </div>
    </div>


  </div>

  <%= render 'profile_bottom'%>

</main>
