<main class="window-holder position-relative" style="background-color: #F2F2F2;"  >
  <div class="w-100" style="height: 220px;" >
  </div>

  <div class="row g-0 m-auto" style="width: 90%; ">
    <div class="col" style="width: 50%; ">
      <%= link_to(profile_nnl_path, html_options = {}) do %>
        <div class="w-100 bg-primary" style="height: 1000px;">

        </div>
      <% end %>
    </div>

    <div class="col" style="width: 50%;">
      <%= link_to(profile_gt_path, html_options = {}) do %>
        <div class="w-100  bg-info" style="height: 1000px;">

        </div>
      <% end %>
    </div>
  </div>

  <%= render 'profile_bottom' %>

</main>
