<main class="window-holder position-relative" style="background-color: #F2F2F2;" >
  <div class="w-100" style="height: 250px;" >
  </div>

  <div class="row g-0 m-auto position-relative" style="width:95%;">

    <div class="shadow-dark-xxl mt-5 mx-auto" style="width: 95%;">
      <div class="row mx-auto mt-5" style="width: 95%; height: 750px;">
        <div class="col-4">
          <%= image_pack_tag 'media/images/corp/profile/profile_xcl/xcl-profile-title.png', class: "", style: "width:90%;" %>
          <!-- overflow:scroll; -->
          <div class="col mt-3 p-3 border border-3 text-indent-4rem" style="height: 550px; " >
            <p style="">
              广西广投新材料集团有限公司成立于2019年，是广西投资集团有限公司旗下高端铝新材料专业化二级平台公司，经营范围涵盖航空航天、交通运输、半导体、电子及电子元器件等领域。公司坚持以新发展理念为指引，着眼于国家重大战略需求，以打造百年企业为目标，实现核心关键技术及材料自主可控，助力中国制造业由大变强。
            </p>
            <!-- <p style=""></p> -->
          </div>
        </div>
        <!-- right  -->
        <div class="col-8">
          <video
              id="nnl-video"
              class="video-js my-vjs-skin"
              width="1450"
              height="670"
              enableTouchActivity
              poster=<%= asset_pack_path 'media/images/corp/profile/profile_xcl/nnl-video-mask.jpg' %>
              data-setup=''>
            <source src="/videos/profile_xcl.mp4" type="video/mp4"></source>
            <p class="vjs-no-js">
              To view this video please enable JavaScript, and consider upgrading to a
              web browser that
            </p>
          </video>
        </div>

      </div>
    </div>
  </div>

  <div class="shortcuts_container position-absolute" style="left:0;bottom:0;z-index:2222;">

  </div>

  <%= render 'profile_bottom' %>

</main>
