<main class="window-holder position-relative" style="background-color: #F2F2F2;" >
  <div class="w-100" style="height: 250px;" >
  </div>

  <div class="row g-0 m-auto position-relative" style="width:95%;">

    <div class="shadow-dark-xxl mx-auto mt-5 " style="width: 95%;">
      <div class="row mx-auto mt-5" style="width: 95%; height: 750px;">
        <!-- left -->
        <div class="col-4">
          <%= image_pack_tag 'media/images/corp/profile/profile_gt/gt-profile-title.png', class: "", style: "width:90%;" %>
          <!-- overflow:scroll; -->
          <div class="col mt-3 p-3 border border-3 text-indent-4rem" style="height: 550px; " >
            <p style="">
              广西投资集团有限公司成立于1988年，是广西首家世界500强本土企业和广西首家营业收入超千亿元企业，位居中国企业500强第124位，广西百强企业第1位。连续六年获AAA 主体信用评级，获穆迪、惠誉两大国际评级机构自治区内企业最高主体评级，获评第五届自治区主席质量奖。广投集团业务涵盖能源、先进制造业、医药健康、数字经济、金融、投资等领域，拥有参控股企业300多家，上市平台4家。
            </p>
            <!-- <p></p> -->
          </div>
        </div>

        <!-- right -->
        <div class="col-8">
          <video
              id="gt-profile-video"
              class="video-js my-vjs-skin"
              width="1450"
              height="670"
              enableTouchActivity
              poster=<%= asset_pack_path 'media/images/corp/profile/profile_gt/gt-video-mask.jpg' %>
              data-setup=''>
            <source src="/videos/profile_gt.mp4" type="video/mp4"></source>
            <p class="vjs-no-js">
              To view this video please enable JavaScript, and consider upgrading to a
              web browser that
            </p>
          </video>

        </div>


      </div>
    </div>


  </div>

  <%= render 'profile_bottom'%>

</main>
