<main class="window-holder position-relative"  style="background-color: #F2F2F2;">
  <div class="w-100" style="height: 220px;" >
  </div>

  <div class="row g-0">
    <div class="" style="width: 80%; ">
      <video
          id="auto-video"
          class="video-js my-vjs-skin"
          controls
          preload="auto"
          data-setup="{}">
        <source src="/videos/mad.mp4" type="video/mp4"></source>
      </video>
    </div>

    <div class="" style="width: 20%;">


      <div class="row g-0 justify-content-end text-blue-500 fw-bold" style=" line-height: 1; font-size: 4rem">
        <div class="col-12 text-end" style="">
          CORPORATE
        </div>
        <div class="col-12 text-end" style="">
          INTRODUCTION
        </div>
        <div class="col-12 text-end" style="font-size: 5rem">
          企业概况
        </div>
      </div>

    </div>
  </div>

  <%= render 'profile_bottom',return_path: profile_path %>

</main>
