<main class="window-holder position-relative" style="background-color: #F2F2F2;" >
  <div class="w-100" style="height: 220px;" >
  </div>

  <div class="row g-0 m-auto position-relative" style="width:90%;">
    <div class="position-absolute w-100 d-none" style="top:0; left:0;">
      <video
          id="nnl-video"
          class="video-js my-vjs-skin w-100"
          preload="auto"
          enableTouchActivity
          poster=<%= asset_pack_path 'media/images/corp/profile/profile_nnl/nnl_video_mask.png' %>
          data-setup='{"controls": true}'>
        <source src="/videos/mad.mp4" type="video/mp4"></source>
        <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a
          web browser that
        </p>
      </video>
    </div>

    <div class="" style="width: 30%; ">
      <div class="">
        <%= image_pack_tag 'media/images/corp/profile/profile_nnl/nnl_video_mask.png', class: "nnl-profile-video-img w-100" %>
      </div>
      <!-- "inactivityTimeout": 0  -->

    </div>

    <div class="shadow-dark-xxl" style="width: 70%;">
      <%= image_pack_tag 'media/images/corp/profile/profile_nnl/nnl_profile.png', class: "w-100" %>
    </div>

  </div>

  <%= render 'profile_bottom' %>

</main>
