<main class="window-holder position-relative" style=" overflow:hidden; background: url(<%= asset_pack_path 'media/images/corp/strategy/bg.png'%>)"  >


  <div class="w-100" style="height: 180px;" >
  </div>

  <!-- align-items-center justify-content-center -->
  <div class="row g-0 justify-content-center m-auto" style="width:90%; ">
    <div class="row g-0 " >
      <div class="w-100 " style="height: 100px;"></div>
      <div class="col-6 text-center position-relative " style=""  >
        <%= image_pack_tag 'media/images/corp/strategy/xcl/left.png', class: 'my-sequence', data: {'sequence-id':  1, 'movement': 'slideInLeft'}, style: '' %>
      </div>

      <div class="col-6 text-center position-relative "  style=""  >
        <%= image_pack_tag 'media/images/corp/strategy/xcl/right.png', class: 'my-sequence', data: {'sequence-id':  1, 'movement': 'slideInRight'},style: ''  %>
      </div>

    </div>

  </div>


  <%= render 'profile_bottom' %>

</main>
