<main class="window-holder position-relative" style="background: center center no-repeat url(<%= asset_pack_path 'media/images/corp/sync/big-bg.png'%>)"  >

  <div class="w-100" style="height: 18%;" >
  </div>

  <!-- align-items-center justify-content-center -->
  <div class="row g-0 justify-content-center m-auto" style="width:90%; ">


  </div>


  <%= render 'profile_bottom', return_path: corp_all_path %>

</main>
