
// @import "bootstrap/dist/css/bootstrap.min";
@import "bootstrap/scss/bootstrap.scss";

//
// @import "packs/stylesheets/lib/mdb/emdb";

// $fa-font-path: '@fortawesome/fontawesome-free/webfonts';
// @import "@fortawesome/fontawesome-free/scss/fontawesome";
// @import "@fortawesome/fontawesome-free/scss/solid";
// @import "@fortawesome/fontawesome-free/scss/regular";
// @import "@fortawesome/fontawesome-free/scss/brands";

// @include media-breakpoint-up(xxl) {
//   body {
//     background-color: #000;
//   }
// }

body,input,select,textarea,button { font-family: 'Microsoft Yahei', 'Helvetica Neue', Helvetica, 'Lucida Grande', Arial, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', STHeiti, SimSun, sans-serif;}

.text-blue {
  color: $blue;
}
.text-blue-500 {
  color: $blue-500;
}

.gt-text-primary{
  color: #003288;
}

.shadow-dark-xxl{
  box-shadow: 12px 10px 36px 10px rgba(0,0,0,0.3);
  -webkit-box-shadow: 12px 10px 36px 10px rgba(0,0,0,0.3);
  -moz-box-shadow: 12px 10px 36px 10px rgba(0,0,0,0.3);
}
