<div class="advantage-bottom position-fixed w-100" style="bottom: 0; height: 319px; z-index: 1000; background: no-repeat center url(<%= asset_pack_path 'media/images/advantages/bottom-bg.png'%>) ">
  <div class="row h-100 g-0 position-relative">

    <%= render 'navs' %>

  </div>
</div>
