<div class="shadow-dark-xxl px-5" style="width: 30%; z-index:2; ">
  <div class="w-100" style="height: 320px;"></div>

  <div class="row g-0 position-relative ">
    <div class="col position-relative text-center">
      <div class="position-absolute gt-text-primary fw-bold" style="font-size: 4rem; top:115px; left: 65px;">
        100
      </div>
      <%= image_pack_tag 'media/images/advantages/innovation/100.png' %>
    </div>
    <div class="col position-relative text-center">
      <div class="position-absolute gt-text-primary fw-bold" style="font-size: 4rem; top:115px; left: 75px;">
        180
      </div>
      <%= image_pack_tag 'media/images/advantages/innovation/180.png' %>
    </div>
  </div>

  <div class="row g-0 position-relative mt-5">
    <div class="col position-relative text-center">
      <div class="position-absolute gt-text-primary fw-bold" style="font-size: 4rem; top:135px; left: 85px;">
        450
      </div>
      <div class="position-absolute gt-text-primary fw-bold" style="font-size: 4rem; top:285px; left: 85px;">
        258
      </div>
      <%= image_pack_tag 'media/images/advantages/innovation/450.png' %>

    </div>
    <div class="col position-relative text-center">
      <div class="position-absolute gt-text-primary fw-bold" style="font-size: 4rem; top:135px; left: 130px;">
        56
      </div>
      <%= image_pack_tag 'media/images/advantages/innovation/56.png' %>

    </div>
  </div>

  <div class="w-100" style="height: 220px;"></div>

</div>
