<div class=" position-relative" style="">

  <!-- Slider main container -->
  <div class="swiper-container window-holder equipment-swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <div class="w-100" style="height:270px;"></div>
        <div class="mx-auto position-relative" style="width:95%;">
          <%= image_pack_tag 'media/images/advantages/equipment/1.png', class: 'slide-in-left position-absolute ', style: 'top: 0; left: 0; z-index: 1;' %>
          <%= image_pack_tag 'media/images/advantages/equipment/2.png', class: 'slide-in-right position-absolute', style: 'top: 80px; right: -20px;' %>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="w-100" style="height:230px;"></div>
        <div class="mx-auto position-relative" style="width:95%;">
          <%= image_pack_tag 'media/images/advantages/equipment/3.png', class: 'slide-in-left position-absolute ', style: 'top: 30px; left: 0;  z-index: 1;' %>
          <%= image_pack_tag 'media/images/advantages/equipment/4.png', class: 'slide-in-right position-absolute', style: 'top: 100px; right: 0px;' %>
        </div>
      </div>
    </div>

    <div class="my-swiper-navigation-container">
      <div class="my-swiper-button-prev"></div>
      <div class="my-swiper-button-next"></div>
    </div>

  </div>

</div>
