<div class=" position-relative" style="">

  <!-- Slider main container -->
  <div class="swiper-container window-holder equipment-swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <div class="w-100" style="height:270px;"></div>
        <div class="mx-auto position-relative" style="width:95%;">
          <%= image_pack_tag 'media/images/advantages/equipment/01.png', class: 'slide-in-left position-absolute ', style: 'top: 0; left: 0; z-index: 1;' %>
          <%= image_pack_tag 'media/images/advantages/equipment/02.png', class: 'slide-in-right position-absolute', style: 'top: 80px; right: 0;' %>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="w-100" style="height:230px;"></div>
        <div class="mx-auto position-relative" style="width:95%;">
          <%= image_pack_tag 'media/images/advantages/equipment/03.png', class: 'slide-in-left position-absolute ', style: 'top: 0; left: 0; ' %>
          <%= image_pack_tag 'media/images/advantages/equipment/04.png', class: 'slide-in-right position-absolute', style: 'top: 400px; left: 300px; z-index: 1;' %>
        </div>
      </div>
    </div>

    <!-- If we need navigation buttons -->
    <!-- <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div> -->

  </div>

</div>
