<div class="innovation-result-page window-holder position-relative" style="">

  <div class="row g-0 position-relative ">
    <!-- main left -->
    <%= render 'innovation_left' %>

    <!-- main right -->
    <div class=" position-relative" style="width: 70%; ">

      <div class="row g-0" style='margin-top: 225px; '>
        <div class="d-flex">
          <div class="">
            <%= image_pack_tag 'media/images/advantages/innovation/achievement/4.png', class: '' %>
          </div>

          <div class="scroll-container position-relative">
            <div class=" scroll-wrap v-scroll slow-speed" style='height: 555px; overflow: scroll;'>
              <%= image_pack_tag 'media/images/advantages/innovation/achievement/5.png', class: 'scroll-content' %>
            </div>

            <div class="scroll-up-white-arrows scroll-start-half"></div>
            <div class="scroll-down-white-arrows scroll-end-half"></div>
          </div>


        </div>

      </div>

      <%= render 'innovation_navs', extra_link: {
        path: advantages_innovation_achievement_more_path,
        img_path: 'media/images/advantages/innovation/nav-achievement-more.png' } %>

    </div>

  </div>

</div>
