
<div class="team-page window-holder position-relative bg-info">
  <h1>Advantages team</h1>

  <div class="timeline-container row g-0 position-relative " style="height: 500px; overflow:scroll;">

    <div class="col-12 bg-secondary" style="width: 500px; height: 1500px;">

    </div>

    <div class="w-100"></div>

    <div class="col-12 bg-success" style="width: 500px; height: 2000px;">

    </div>

    <div class="bottom"></div>


  </div>


</div>
