
.swiper-container {
        width: 100%;
        // height: 100%;
      }



.my-swiper-pagination-bullet{
  width: 40px;
  height: 40px;
  margin-left: 10px !important;
  margin-right: 10px !important;
  background: center no-repeat url('../../images/buttons/circle.png');
  opacity: 1;
}

.my-swiper-pagination-bullet-active{
  width: 40px;
  height: 40px;
  background: center no-repeat url('../../images/buttons/circle-horizontal-active.png');
  background-color: transparent;
}


.business-swiper-tag.active{
  .active-img{
    display: block !important;
  }
}

.business-components.active{
  display: block;
}
.business-components{
  display: none;

  .component-info{
    display: none;
  }
  .component-info.active{
    display: block;
  }

  .component-btn{
    .component-btn-img{
      display: block;
    }
    .component-btn-img-active{
      display: none;
    }
  }
  .component-btn.active{
    .component-btn-img{
      display: none;
    }
    .component-btn-img-active{
      display: block;
    }
  }
}

.component-point-container{
  .title-img{
    display: block;
  }
  .title-img-active{
    display: none;
  }
}
.component-point-container.active{
  .title-img{
    display: none;
  }
  .title-img-active{
    display: block;
  }
}

.industry-hezhou-swiper-tag{
  .img{
    display: block;
  }
  .img-active{
    display: none;
  }
}
.industry-hezhou-swiper-tag.active{
  .img{
    display: none;
  }
  .img-active{
    display: block;
  }
}

.industry-nanning-swiper-tag{
  .img{
    display: block;
  }
  .img-active{
    display: none;
  }
}
.industry-nanning-swiper-tag.active{
  .img{
    display: none;
  }
  .img-active{
    display: block;
  }
}

.businesses-main-swiper{
  .title-img {
    display: none !important;
  }
  .title-img-active {
    display: none !important;
  }
}

.business-swiper-pagination{
  width: auto !important;
  left: auto !important;
  right: 50px;
  bottom: 50px !important;
}
