
.swiper-container {
        width: 100%;
        // height: 100%;
      }



.my-swiper-pagination-bullet{
  width: 40px;
  height: 40px;
  margin-left: 10px !important;
  margin-right: 10px !important;
  background: center no-repeat url('../../images/buttons/circle.png');
  opacity: 1;
}

.my-swiper-pagination-bullet-active{
  width: 40px;
  height: 40px;
  background: center no-repeat url('../../images/buttons/circle-horizontal-active.png');
  background-color: transparent;
}
.swiper-pagination-vertical{
  .my-swiper-pagination-bullet-active{
    background: center no-repeat url('../../images/buttons/circle-vertical-active.png');
  }
}


.my-swiper-navigation-container{
  $swiper-navigation-size: 74px;
  width: 225px;
  height: 75px;
  position: absolute;
  z-index: 1022;
  display: flex;
  justify-content: space-around;

  .my-swiper-button-prev{
    width: $swiper-navigation-size;
    height: $swiper-navigation-size;
    background: center no-repeat url('../../images/buttons/swiper-left-btn.png');
  }
  .my-swiper-button-next{
    width: $swiper-navigation-size;
    height: $swiper-navigation-size;
    background: center no-repeat url('../../images/buttons/swiper-right-btn.png');
  }
  .swiper-button-disabled{
    opacity: 0.5;
  }
}
.businesses-main-swiper{
  .my-swiper-navigation-container{
    // left: 450px;
    left: 210px;
    bottom: 247.5px;

  }
}

#advantages-team-page{
  .my-swiper-navigation-container{
    left: 50%;
    bottom: -70px;
    margin-left: 50px;
    z-index: 1066;
  }
}

.equipment-swiper{
  .my-swiper-navigation-container{
    left: 45px;
    bottom: 240px;
    z-index: 1066;
  }
}

#corp_infos-page{
  .my-swiper-navigation-container{
    left: 20px;
    bottom: 230px;
    z-index: 1066;
    .my-swiper-button-prev{
      background: center no-repeat url('../../images/buttons/swiper-up-btn.png');
    }
    .my-swiper-button-next{
      background: center no-repeat url('../../images/buttons/swiper-down-btn.png');
    }
  }
}

#parties-navigator-xcl_excellence-talents-page{
  .my-swiper-navigation-container{
    left: -160px;
    bottom: 0px;
    z-index: 1066;
    .my-swiper-button-prev{
      background: center no-repeat url('../../images/buttons/left-arrow-red.png');
    }
    .my-swiper-button-next{
      background: center no-repeat url('../../images/buttons/right-arrow-red.png');
    }
  }
}


#corp_infos{
  .swiper-pagination{
    top: 450px;
  }
}


.businesses-main-swiper{
  .title-img {
    display: none !important;
  }
  .title-img-active {
    display: none !important;
  }
}

.business-swiper-pagination{
  width: auto !important;
  left: auto !important;
  right: 50px;
  bottom: 50px !important;
}

.business-swiper-tag.active{
  .active-img{
    display: block !important;
  }
}

.business-components.active{
  display: block;
}
.business-components{
  display: none;

  .component-info{
    display: none;
  }
  .component-info.active{
    display: block;
  }

  .component-btn{
    .component-btn-img{
      display: block;
    }
    .component-btn-img-active{
      display: none;
    }
  }
  .component-btn.active{
    .component-btn-img{
      display: none;
    }
    .component-btn-img-active{
      display: block;
    }
  }
}

.component-point-container{
  .title-img{
    display: block;
  }
  .title-img-active{
    display: none;
  }
}
.component-point-container.active{
  .title-img{
    display: none;
  }
  .title-img-active{
    display: block;
  }
}

.industry-hezhou-swiper-tag{
  .img{
    display: block;
  }
  .img-active{
    display: none;
  }
}
.industry-hezhou-swiper-tag.active{
  .img{
    display: none;
  }
  .img-active{
    display: block;
  }
}

.industry-nanning-swiper-tag{
  .img{
    display: block;
  }
  .img-active{
    display: none;
  }
}
.industry-nanning-swiper-tag.active{
  .img{
    display: none;
  }
  .img-active{
    display: block;
  }
}

.swiper-tag.active{
  .active-img{
    display: block !important;
  }
}
