[Unit]
Description=Puma HTTP Server for guangtou (production)
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/data/www/rails/guangtou/current
ExecStart=/home/ubuntu/.rbenv/bin/rbenv exec bundle exec puma -C /data/www/rails/guangtou/shared/puma_production.rb
ExecReload=/bin/kill -TSTP $MAINPID
StandardOutput=append:/data/www/rails/guangtou/shared/log/puma_access.log
StandardError=append:/data/www/rails/guangtou/shared/log/puma_error.log




Restart=always
RestartSec=1

SyslogIdentifier=puma

[Install]
WantedBy=multi-user.target
